.nav > li.dropdown.language-selector > a > img {
    max-width: 24px;
}

.nav > li.language-selector .dropdown-menu {
    min-width: 70px;
    margin-right: 15px;
    background-color: #222
}

.nav > li.language-selector .dropdown-menu a:hover {
    background-color: #000
}

.nav > li.language-selector .dropdown-menu a {
    line-height: 2;
}

img.lang-flag {
    width: 24px;
}